.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, .emphasis-title h1, .emphasis-title h2, body {
	color: #000;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
}
.content-wrap {
	padding: 40px 0;
}
.breadcrumb {
	right: auto !important;
}
.breadcrumb > .active {
	color: #000;
}
.panel-body {
	padding: 40px;
}
#page-title {
	background-color: rgb(0 157 154 / 0.1);
}
.card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #FFFFFF;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 0.25rem;
}
.card .card-shadow {
	margin-bottom: 1.875rem;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.card-default {
	background-color: #f5f5f5;
	border-radius: 0.25rem;
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.media {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	border-radius: 4px;
}
.align-items-stretch {
	-webkit-box-align: stretch !important;
	-webkit-align-items: stretch !important;
	-moz-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}
.bg-primary.bg-darken-2 {
	background-color: #009d9a !important;
}
.bg-gradient-x-primary {
	background-image: -webkit-gradient(linear, left top, right top, from(#009d9a), to(#bfcd7c));
	background-image: -webkit-linear-gradient(left, #009d9a 0, #bfcd7c 100%);
	background-image: -moz-linear-gradient(left, #009d9a 0, #bfcd7c 100%);
	background-image: -o-linear-gradient(left, #009d9a 0, #bfcd7c 100%);
	background-image: linear-gradient(to right, #009d9a 0, #bfcd7c 100%);
	background-repeat: repeat-x;
}
.bg-primary2.bg-darken-2 {
	background-color: #00b9cc !important;
}
.bg-gradient-x-primary2 {
	background-image: -webkit-gradient(linear, left top, right top, from(#00b9cc), to(#6ff2ff));
	background-image: -webkit-linear-gradient(left, #00b9cc 0, #6ff2ff 100%);
	background-image: -moz-linear-gradient(left, #00b9cc 0, #6ff2ff 100%);
	background-image: -o-linear-gradient(left, #00b9cc 0, #6ff2ff 100%);
	background-image: linear-gradient(to right, #00b9cc 0, #6ff2ff 100%);
	background-repeat: repeat-x;
}
.bg-primary3.bg-darken-2 {
	background-color: #c900cc !important;
}
.bg-gradient-x-primary3 {
	background-image: -webkit-gradient(linear, left top, right top, from(#c900cc), to(#fd7fff));
	background-image: -webkit-linear-gradient(left, #c900cc 0, #fd7fff 100%);
	background-image: -moz-linear-gradient(left, #c900cc 0, #fd7fff 100%);
	background-image: -o-linear-gradient(left, #c900cc 0, #fd7fff 100%);
	background-image: linear-gradient(to right, #c900cc 0, #fd7fff 100%);
	background-repeat: repeat-x;
}
.bg-blue {
	background-color: #009d9a;
}
.bg-success {
	background-color: #28a745;
}
.bg-danger {
	background-color: #dc3545;
}
.tabs.tabs-tb ul.tab-nav li.ui-tabs-active a {
	color: #009d9a;
}
.border_bottom_dotted {
	border-bottom: 1px dotted;
}
.text-white {
    color: #fff!important;
}
.p-2 {
	padding: 1.5rem !important;
}
.m-2 {
	margin: 1.5rem !important;
}
.mb-1 {
	margin-bottom: .25rem!important;
}
.mb-2 {
	margin-bottom: .5rem!important;
}
.white {
	color: #FFFFFF !important;
}
.font-large-2 {
	font-size: 5rem !important;
}
label {
	color: #000;
}
.badge-success {
	color: #fff;
	background-color: #28a745;
}
.badge-warning {
	color: #212529;
	background-color: #ffc107;
}
.badge-primary {
	color: #fff;
	background-color: #009d9a;
}
.badge-danger {
	color: #fff;
	background-color: #dc3545;
}
.badge-secondary {
	color: #fff;
	background-color: #6c757d;
}
.btn-blue {
	color: #ffffff;
	background-color: #009d9a;
	border-color: #006f6d;
}
.btn-blue:hover {
	color: #ffffff;
	background-color: #006f6d;
	border-color: #004443;
}
.button-blue {
	background-color: #009d9a;
}
.button-3d.button-blue:hover, .button-reveal.button-blue:hover, .button-border.button-blue:hover, .button-border.button-blue.button-fill:before {
	background-color: #009d9a !important;
}
.dark nav#primary-menu li a .button.button-border:not(.button-light) {
	border-color: rgba(255,255,255,1);
	color: rgba(255,255,255,1);
}
#primary-menu ul li > a, #primary-menu ul ul li > a, #primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a {
	color: #000;
}
.list-group {
	box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}
.light #primary-menu:not(.not-dark) ul ul {
	display: none;
	position: absolute;
	width: 220px;
	background-color: #FFF !important;
	box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
	border: 1px solid #EEE !important;
	border-top: 2px solid #009d9a !important;
	color: #666 !important;
	height: auto;
	z-index: 199;
	top: 100%;
	left: 0;
	margin: 0;
}
.w-100 {
	width: 100%!important;
}
.justify-content-between {
	-ms-flex-pack: justify!important;
	justify-content: space-between!important;
}
.d-flex {
	display: -ms-flexbox!important;
	display: flex!important;
}
/*
#primary-menu.light ul li .mega-menu-content {
	width: 1317px !important;
}*/
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column {
    padding: 20px 20px;
}
#primary-menu ul ul li > a {
	text-transform: none;
	padding: 8px 5px !important;
	font-weight: normal;
	line-height: normal;
}
#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a {
	text-transform: none !important;
	font-size: 15px;
	margin-bottom: 10px;
}
.light #primary-menu:not(.not-dark) ul ul li:hover > a, #primary-menu.light ul ul li:hover > a {
	background-color: #F9F9F9;
	color: #009d9a !important;
}
#copyrights {
	padding: 20px 0;
}
#footer .footer-widgets-wrap {
	padding: 40px 0;
}
.portfolio-desc {
	width: 100%;
	padding: 10px;
}
.portfolio-overlay a.center-icon {
	left: auto;
	right: 50%;
	margin-left: 0;
	margin-right: -22px;
}
.portfolio-desc.dark h3 {
	color: #fff;
}
.portfolio-desc.dark span {
	color: #ddd;
}
#logo a {
	margin-bottom: 0;
	margin-top: 0;
}
.sticky-header #logo a {
	margin-bottom: 0;
	margin-top: 0;
}
#primary-menu li.sign-in-menu, #primary-menu li.sign-up-menu, #primary-menu li.profile-menu {
	margin-top: 5px;
}
.sticky-header #primary-menu li.sign-in-menu, .sticky-header #primary-menu li.sign-up-menu, .sticky-header #primary-menu li.profile-menu {
	margin-top: 5px;
}
.form-control {
	height: 46px;
}
.sm-form-control {
	height: 46px;
	border-radius: 4px !important;
}
#top-cart {
	margin-right: 10px;
	margin-left: 30px;
}
.top-cart-title h4 {
	text-transform: capitalize;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.bootstrap-select > .dropdown-toggle {
	height: 46px;
}
.padding-xs {
	margin: 15px !important;
}
.topmargin-xs {
	margin-top: 15px !important;
}
.bottommargin-xs {
	margin-bottom: 15px !important;
}
.rightmargin-xs {
	margin-right: 15px !important;
}
.leftmargin-xs {
	margin-left: 15px !important;
}
toppadding-sm {
	padding-top: 30px !important;
}
.toppadding-xs {
	padding-top: 15px !important;
}
.bottompadding-xs {
	padding-bottom: 15px !important;
}
input.top-search-input:placeholder {
 text-transform: none;
}
.comment-reply-link, .review-comment-ratings {
	width: auto;
}
#primary-menu ul li > a .button, #primary-menu ul li > a {
	font-size: 12px;
}
#header.full-header #logo {
	margin-right: 0px;
}
.category_wrapper .portfolio-desc {
	position: absolute;
	top: 10%;
}
.pagination> li> a, .pagination> li> span {
	padding: 9px 12px;
}
.cat_list_wrapper img {
	padding: 10px 15px;
}
.cat_list_wrapper:hover img {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	opacity: 0.7;
}
.checkbox-style + .checkbox-style-3-label.checkbox-large:before {
	width: 36px;
	height: 36px;
	padding: 8px;
}
.pricing-title h3, label {
	color: #000;
}
.pricing-price {
	color: #000;
	font-weight: 900;
}
.pricing-box.pricing-extended .pricing-features li {
	padding: 0px 0 10px;
	font-size: inherit;
	width: 100%;
}
#page-menu.product_submenu_wrapper nav li.active a {
	background-color: #038683;
}
#page-menu.product_submenu_wrapper nav.product_submenu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	float: none;
}
img.avatar.avatar-60.avatar-default {
	padding: 4px;
	background: #FFF;
	border: 1px solid #E5E5E5;
	border-radius: 50%;
	margin-bottom: 10px;
}
.review_details_wrapper {
	border-left: 1px solid #ddd;
}
.review-item .comment-wrap {
	padding: 20px 20px 20px 20px;
}
.qa-item .qa-content {
	position: relative;
	max-height: 250px;
	overflow: hidden;
	transition: all 0.3s linear;
}
.qa-item ul.qa-content:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	z-index: 9;
	transition: all .3s linear;
	background: linear-gradient(180deg, hsla(0,0%,100%,0) -1%, hsla(0,0%,100%,.01) 0, #fff);
}
.helpful_wrapper {
	background-color: #eee;
}
.multiple-value-list {
	margin-left: 20px;
	margin-bottom: 0;
}
.process-steps .i-circled, .process-steps .i-bordered {
	font-size: 22px;
	width: 40px !important;
	height: 40px !important;
	line-height: 38px !important;
}
.twitter-typeahead {
	position: inherit!important;
	display: block !important;
}
.tt-dataset-value {
	line-height: 15px;
	padding: 10px;
}
.tt-menu {
	background-color: #fff;
	width: 100%;
	text-align: left;
	max-height: 150px;
	overflow-y: auto;
}
.tt-dataset-value:hover {
	background: rgba(0, 101, 204, 0.1);
	width: 100%;
}
.dropzone, .dropzone * {
	box-sizing: border-box;
}
.dropzone {
    min-height: 160px  !important;
    border: 2px solid rgb(221, 221, 221) !important;
    background: white;
    border-radius: 4px;
	padding: 20px 20px;
}
.dropzone, .dropzone * {
	box-sizing: border-box;
}
.dropzone {
	position: relative;
}
.dropzone {
	position: relative;
	border: 2px dashed #ddd;
}
.dropzone.dz-clickable {
	cursor: pointer;
}
.dropzone, .dropzone * {
	box-sizing: border-box;
}
.dropzone, .dropzone * {
	box-sizing: border-box;
}
.dropzone.dz-clickable * {
	cursor: default;
}
.dropzone .dz-message {
	text-align: center;
	margin: 2em 0;
}
.dropzone .dz-message {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
	cursor: pointer;
}
.dropzone .dz-message span {
	position: absolute;
	top: 50%;
	right: 50%;
	-webkit-transform: translateY(-50%) translateX(50%);
	transform: translateY(-50%) translateX(50%);
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
	cursor: pointer;
}
a.featured-img-wrapper:hover img {
	-webkit-animation-name: tada;
	animation-name: tada;
}
a.review-messenger i {
	font-size: 16px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #009d9a;
    border-color: #006f6d;
}
#highlight_tagsinput span.tag a {
    color: #fff;
}
#highlight_tagsinput span.tag a:hover {
    color: #ddd;
}
.rating-xs {
    font-size: 1.5em;
}
@media (max-width: 991px) {
#primary-menu ul li > a {
	padding: 39px 10px;
}
#top-search a {
	right: 60px;
}
#page-menu.product_submenu_wrapper nav.product_submenu {
	display: none;
}
#page-menu.product_submenu_wrapper.pagemenu-active nav {
	display: block;
}
#page-menu.product_submenu_wrapper nav {
	background-color: #0381ff;
}
.avatar_details_wrapper a.user_name {
	font-size: 16px;
	font-weight: bold;
}
}

@media (max-width: 767px) {
.category_wrapper .portfolio-desc {
	top: 2%;
}
.portfolio-desc h3 {
	font-size: 14px
}
.portfolio-desc span {
	font-size: 11px;
}
#page-title .breadcrumb {
	margin-top: 0px !important;
}
.list_mainheader img {
	max-width: 180px
}
.review_details_wrapper {
	border-left: 0px;
}
.commentlist li .comment-content {
	padding: 0px;
}
}

@media (max-width: 479px) {
.container, #header.full-header .container, .container-fullwidth {
	min-width: 340px !important;
	width: 100% !important;
}
.portfolio .portfolio-item {
	width: 50%;
}
.panel-body {
	padding: 20px;
}
}
